{{>_header}}
<div class="d-flex justify-content-center">
	<div class='content-main text-center m-4 p-4'>
		<section class="header">
			<img class='rounded-circle img-thumbnail mb-4 img-avatar' src='https://en.gravatar.com/userimage/16451515/633239c883ef1af63b0f08805270db45.jpg?size=200'>
			<h1 class="display-4 title-name">Christos Georgiou</h1>
			<h2 class="lead mb-4">Software Engineer</h2>
		</section>
		<section class="technologies">
			<span class="badge badge-success">JS</span>
			<span class="badge badge-info">NODEJS</span>
			<span class="badge badge-success">TS</span>
			<span class="badge badge-info">ANGULAR</span>
			<span class="badge badge-danger">BS4</span>
			<span class="badge badge-info">IONIC</span>
			<span class="badge badge-danger">SCSS</span>
			<span class="badge badge-success">C#</span>
			<span class="badge badge-info">WEBAPI2</span>
			<span class="badge badge-primary">MSSQL</span>
			<span class="badge badge-primary">COUCHDB</span>
			<span class="badge badge-dark">AWS</span>
		</section>
		<section class="bio">
			<p>
				Hi! I'm Chris. A living entity of the "human" species on Earth, third planet from the Sun, in the Milky way galaxy.
			</p>
			<p>
				My restless personality, which began forging about 30 earth years ago in Athens, Greece, eventually turned me into a Software
				Engineer.
			</p>
			<p>
				Blurring the lines between working and making art, I'm currently a proud member of the
				<a href="https://echofin.co">echofin</a> team.</p>
		</section>
		<section class="footer list-inline text-center">
			<a class="btn btn-link text-secondary" href="mailto:georgiou.christos@outlook.com" title="email">
				<span class="fa fa-envelope-o"></span>
			</a>
			<a class="btn btn-link text-secondary" href="http://github.com/christosgeorgiou" title="github">
				<span class="fa fa-github"></span>
			</a>
			<a class="btn btn-link text-secondary" href="skype:christos.georgiou.?add" title="skype">
				<span class="fa fa-skype"></span>
			</a>
			<a class="btn btn-link text-secondary" href="http://gr.linkedin.com/in/christosgeorgiou2/" title="linkedin">
				<span class="fa fa-linkedin-square"></span>
			</a>
			<a class="btn btn-link text-secondary" href="http://twitter.com/chrisgeorgiou" title="twitter">
				<span class="fa fa-twitter-square"></span>
			</a>
			<a class="btn btn-link text-secondary" href="http://facebook.com/christosgeorgiou" title="facebook">
				<span class="fa fa-facebook-square"></span>
			</a>
		</section>
	</div>
</div>