{{>_start}}
<div class='container'>
	<img class="img-fluid p-4" src="/images/logo_light.png" alt="">
	<section class="contacts">
		{{#each contacts}}
		<a class="btn border-0" href="{{link}}" title="{{label}}">
			<span class="{{icon}}"></span>
		</a>
		{{/each}}
	</section>
</div>
{{>_end}}