<!doctype html>
<html lang='en'>

<head>
  <meta charset='utf-8' />
  <meta content='IE=edge' http-equiv='X-UA-Compatible' />

  <title>cgeosoft</title>

  <meta name='viewport' content='width=device-width, initial-scale=1' />

  <meta name='author' content='Christos Georgiou' />
  <meta name='description' content='Software solutions premium consulting' />
  <meta name='robots' content='index,follow'>

  <meta property="og:title" content="Software solutions premium consulting" />
  <meta property="og:description"
    content="Book a meeting now and get premium consulting for your next small or big project" />
  <meta property="og:url" content="https://cgeosoft.com" />
  <meta property="og:image" content="https://cgeosoft.com/images/og.png" />

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="Software solutions premium consulting" />
  <meta name="twitter:description"
    content="Book a meeting now and get premium consulting for your next small or big project" />
  <meta name="twitter:image" content="https://cgeosoft.com/images/og.png" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-1/css/all.min.css">
  <link rel='stylesheet' type='text/css' href='/css/style.css'>
</head>

<body class="bg-dark text-white">