<!doctype html>
<html lang='en'>

<head>
  <meta charset='utf-8' />
  <meta content='IE=edge' http-equiv='X-UA-Compatible' />
  <meta content='width=device-width, initial-scale=1' name='viewport' />
  <meta content='My personal website' name='description' />
  <meta content='Christos Georgiou' name='author' />
  <meta name='robots' content='index,follow'>
  <title>Christos Georgiou</title>
  <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.13/css/all.css"
    integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <link rel='stylesheet' type='text/css' href='/devicon/devicon.min.css'>
  <link rel='stylesheet' type='text/css' href='/css/style.min.css'>
  
  <!-- Start of Woopra Code -->
  <script>
    (function () {
      var t, i, e, n = window, o = document, a = arguments, s = "script", r = ["config", "track", "identify", "visit", "push", "call", "trackForm", "trackClick"], c = function () { var t, i = this; for (i._e = [], t = 0; r.length > t; t++)(function (t) { i[t] = function () { return i._e.push([t].concat(Array.prototype.slice.call(arguments, 0))), i } })(r[t]) }; for (n._w = n._w || {}, t = 0; a.length > t; t++)n._w[a[t]] = n[a[t]] = n[a[t]] || new c; i = o.createElement(s), i.async = 1, i.src = "//static.woopra.com/js/w.js", e = o.getElementsByTagName(s)[0], e.parentNode.insertBefore(i, e)
    })("woopra");

    woopra.config({
      domain: 'cgeosoft.com'
    });
    woopra.track();
  </script>
  <!-- End of Woopra Code -->
</head>

<body class="bg-dark text-white">