<!doctype html>
<html lang='en'>

<head>
  <meta charset='utf-8' />
  <meta content='IE=edge' http-equiv='X-UA-Compatible' />
  <meta content='width=device-width, initial-scale=1' name='viewport' />
  <meta content='My personal website' name='description' />
  <meta content='Christos Georgiou' name='author' />
  <meta name='robots' content='index,follow'>
  <title>Christos Georgiou</title>
  <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.13/css/all.css"
    integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <link rel='stylesheet' type='text/css' href='/devicon/devicon.min.css'>
  <link rel='stylesheet' type='text/css' href='/css/style.min.css'>

  <!-- Matomo -->
  <script type="text/javascript">
    var _paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function () {
      var u = "//matomo.cgeosoft.com/";
      _paq.push(['setTrackerUrl', u + 'matomo.php']);
      _paq.push(['setSiteId', '2']);
      var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
      g.type = 'text/javascript'; g.async = true; g.defer = true; g.src = u + 'matomo.js'; s.parentNode.insertBefore(g, s);
    })();
  </script>
  <!-- End Matomo Code -->
</head>

<body class="bg-dark text-white">