$dark: #222222;

@import "./node_modules/bootstrap/scss/bootstrap";

html,
body {
  height: 100%;
}

.box {
  max-width: 250px;
}

.contacts {
  @extend .list-inline;
  @extend .text-center;
  @extend .pt-1;
  .btn {
    @extend .btn-outline-secondary;
    @extend .py-0;
    @extend .px-1;
  }
}
