{{>_start}}
<div class="container p-4">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <a href="/" class="btn btn-secondary btn-sm mb-2">
                <span class="fas fa-long-arrow-alt-left"></span>
                home</a>
            <h1 class="display-1">{{title}}</h1>
            <hr>
            {{{contents}}}
        </div>
    </div>
</div>
{{>_end}}